---
layout: default
title: Home
---

<div class="home-page">

  <div class="home-page_inner">

    <div class="home_image_side light">
      {% img /assets/images/jedi_lego.png | fixed | 180x180 | re[at]lat - real jedy %}
    </div>

    <nav class="home-page_nav">
      {% for nav in site.nav %}
        {% assign is_relative = nav[1][0] | slice: 0 %}
        {% assign url = nav[1][0] %}
        {% if is_relative == '/' %}
          {% assign url = nav[1][0] | prepend: site.baseurl %}
        {% endif %}

        {% assign sub_len = nav[1] | size | minus: 1 %}

        <span class="home-page_nav-item">
          <a class="home-page_nav-item_link" href="{{ url }}">
            {{ nav[0] }}
          </a>
        </span>

      {% endfor %}
    </nav>

  </div>
</div>
