{% if page.comments != false %}
  {% if site.url %}
    {% assign disqus_url = page.url | prepend: site.url %}
  {% elsif site.github.url %}
    {% assign disqus_url = page.url | prepend: site.github.url %}
  {% endif %}
<amp-iframe width=600 height=240
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups"
            resizable
            src="https://cdn.rawgit.com/maxxeight/disqusAMP/master/disqus-amp.html?shortname={{site.disqus_short_name}}&url={{site.url}}{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
  <div overflow tabindex=0 role=button aria-label="Disqus Comments">Disqus Comments</div>
</amp-iframe>
{% endif %}
