.gsc-control-cse {
    text-align: left;
    background-color: transparent;
    border-color: transparent;
    .gsc-webResult.gsc-result {
        border-color: transparent;
    }
    .gscb_a {
        font: 27px/20px arial, sans-serif;
    }
    .gsib_a {
        padding: 0px 6px;
    }
    .gsc-table-result,
    .gsc-thumbnail-inside,
    .gsc-url-top {
        padding-left: 0px;
        padding-right: 0px;
    }
    input.gsc-input {
    line-height: 25px;
}
}
