$red:        #ac4142;
$orange:     #d28445;
$yellow:     #f4bf75;
$green:      #90a959;
$cyan:       #75b5aa;
$blue:       #6a9fb5;
$magenta:    #aa759f;
$brown:      #8f5536;
$default:    #505050;

$white:      #FFFFFF;
$lightgrey:  #EEEEEE;
$black:      #000000;

$theme-color:#37A000;

$bg-dark:    #292929;
$bg-light:   #F3F3F3;
$link:       $theme-color;
$text-dark:  #333333;
$text-light: #CCCCCC;

$head-color: #FFFFFF;
$contrast:   #FF4333;

$font-first: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
$font-second: 'Quattrocento Sans', 'Helvetica Neue', Arial, sans-serif;

/* Layout */
$reverse-layout: true;
$overlay-sidebar: false;

$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;