.gsc-control-cse {
    text-align: left;
    background-color: transparent !important;
    border-color: transparent !important;
    .gsc-webResult.gsc-result {
        border-color: transparent !important;
    }
    .gscb_a {
        font: 27px/20px arial, sans-serif !important;
    }
    .gsib_a {
        padding: 0px 6px !important;
    }
    .gsc-table-result,
    .gsc-thumbnail-inside,
    .gsc-url-top {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    input.gsc-input {
    line-height: 25px !important;
}
}
